In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('/content/sample_data/car_age_price.csv')

In [28]:
data

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
data.isna().sum()

Year     0
Price    0
dtype: int64

In [29]:
data.columns

Index(['Year', 'Price'], dtype='object')

In [14]:
x=data.drop('Price',axis=1)

In [30]:
y=data['Price']

In [31]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler(feature_range=(0,1))
x=min_max.fit_transform(x)

In [26]:
x

array([[0.71428571],
       [0.85714286],
       [0.85714286],
       [0.71428571],
       [0.71428571],
       [0.28571429],
       [0.42857143],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.85714286],
       [0.71428571],
       [0.57142857],
       [0.85714286],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.85714286],
       [0.57142857],
       [0.71428571],
       [0.85714286],
       [0.28571429],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.85714286],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.71428571],
       [1.        ],
       [0.85714286],
       [0.85714286],
       [0.71428571],
       [0.85714286],
       [0.85714286],
       [0.71428571],
       [0.85714286],
       [0.71428571],
       [0.42857143],
       [0.71428571],
       [0.        ],
       [0.71428571],
       [0.        ],
       [0.        ],
       [0.57142857],
       [0.57142857],
       [0.14285714],
       [0.57142857],
       [0.14285714],
       [0.42857143],
       [0.28571429],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.28571429],
       [0.57142857],
       [0.57142857],
       [0.28571429],
       [0.28571429],
       [0.28571429],
       [0.28571429],
       [0.57142857],
       [0.28571429],
       [0.        ],
       [0.57142857],
       [0.57142857],
       [0.28571429],
       [0.28571429],
       [0.28571429],
       [0.28571429],
       [0.28571429],
       [0.14285714],
       [0.28571429],
       [0.57142857],
       [0.28571429],
       [0.28571429],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [0.57142857],
       [1.        ],
       [1.        ],
       [1.        ],
       [0.42857143],
       [0.28571429],
       [0.28571429],
       [0.57142857],
       [0.14285714],
       [0.14285714],
       [0.28571429],
       [0.42857143],
       [0.14285714],
       [0.28571429],
       [0.42857143],
       [0.28571429]])

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [ ]:
## Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression
linear_regression=LinearRegression()
model=linear_regression.fit(x_train,y_train)
predictions=model.predict(x_test)

In [33]:
from sklearn.metrics import mean_squared_error,r2_score
print('Mean Squared Error=',mean_squared_error(y_test,predictions))
print('R squared value=',r2_score(y_test,predictions))

Mean Squared Error= 4326906256.830066
R squared value= 0.3675931342589642

In [ ]:
## lasso regression

In [35]:
from sklearn.linear_model import Lasso
reg= Lasso(alpha=1)
reg.fit(x_train,y_train)

Lasso(alpha=1)

In [36]:
print('R squared test set',round(reg.score(x_test,y_test)*100,2))

R squared test set 36.76

In [38]:
pred=reg.predict(x_test)
mse_test=mean_squared_error(y_test,pred)
print('MSE test set',round(mse_test,2))

MSE test set 4326580881.0

In [ ]:
## both linear and lasso regression fit for the model and almost remain same